:root {
    font-family: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}


body {
     color: black;
     background-color: #fff;
     margin: 0;
     padding: 0;
}
/* Some nice styling for the scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* make the main container leave space for the navbar */
main {
    margin-left: 5rem; /* sane as original size of navbar*/
    padding: 1rem;
}
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
}

/* The ul container the nav items */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

/* Link texts should not be display when navbar is folded */
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* This 'expands' th navbar */
.navbar:hover {
    width: 16rem;
}
/* And then show the link text */
.navbar:hover .link-text {
    display: block ;
}
.fa-primary {
    color: #ff7eee;
}
.fa-secondary {
    color: #df49a6;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}